@if (Context.User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Empleados"
        asp-action="Index">Empleados</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Empleados"
        asp-action="Perfil">Mi perfil</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Empleados"
           asp-action="CompisCurro">Compañeros</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Empleados"
           asp-action="EmpleadosOficio">Buscador por oficio</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" 
        asp-controller="Managed" asp-action="CerrarSesion">
        Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" 
        asp-controller="Empleados" asp-action="Perfil"
        >Login</a>
    </li>
}


