
<h1>Login </h1>

<form method="post">
    <label>Username</label>
    <input type="text" name="username" class="form-control" />
    <br />
    <label>Passw</label>
    <input type="text" name="password" class="form-control" />
    <br />
    <button class="btn btn-success">Log in</button>
</form>

<h2 style="color:green;">@ViewData["MSG"]</h2>